{% block menu %}
    <nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="/">GC-Bridge</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown">
                            Bridge
                        </a>
                        <div class="dropdown-menu">
                            <a href="/bridge" class="dropdown-item">Bridge</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown">
                            Mappei
                        </a>
                        <div class="dropdown-menu">
                            <a href="/mappei" class="dropdown-item">Match</a>
                        </div>
                    </li>


                </ul>
            </div>

    </nav>
{% endblock %}