<h2 class="display-2">SYNC</h2>
<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
        <div class="card bg-light">
            <div class="card-header d-flex flex-lg-row justify-content-between align-items-center">
                <h3 class="card-title">Customers</h3>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Sync</label>
                </div>
            </div>
            <div class="card-body">
                <p class="card-text">
                    Sync Text and Info
                </p>
            </div>
            <div class="card-footer d-flex flex-lg-row justify-content-between align-items-end">
                <div class="card-text">
                        Last Sync 25.08.2022
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-light">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-light">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card bg-light">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
</div>
