<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>GC-Bridge</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body text-center">
                    <h1 class="card-title">GC-Bridge</h1>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consequat ante in ex
                        porta
                        luctus.</p>
                    <button class="btn btn-primary" onclick="deineFunktionen()">Bestellungen holen</button>
                </div>
                <div class="card-body">
                    <div class="input-group">
                        <textarea id="console" class="form-control shadow" rows="10" readonly>{{ result }}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="fixed-bottom bg-primary text-white py-3">
    <div class="container text-center">
        <p href="https://www.get-company.com/" class="m-0">&copy; Get-Company | 2023 | Version: 1.0</p>
    </div>
</footer>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
