{% extends 'base.html' %}
{% block title %}GeCo - Mappei{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Artnr.</th>
          <th scope="col">Name</th>
          <th scope="col">Preis</th>
          <th scope="col">M-Artnr.</th>
          <th scope="col">M-Preis</th>
          <th scope="col">Differenz</th>
        </tr>
        </thead>
        <tbody>
        {% for classei in classei_products %}
          <tr>
            <th scope="row">{{classei.erp_nr}}</th>
            <td>{{classei.name}}</td>
            <td>{{classei.price}}</td>

            {% if classei.mappei[0] %}

              <td>{{classei.mappei[0].nr}}</td>
              <td>{{classei.mappei[0].prices[0].price_high}}</td>

            {% else %}

              <td colspan="3">Leider keine Mappei Zuordnung</td>

            {% endif %}

            {% if classei.difference %}

            <td>{{classei.difference}}</td>

            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}