<form method="post">
    {% for product in products %}

        <input type="text" name="erp[]"
               placeholder="ERP Nr"
               value="{{ product.erp_nr }}"/>

        <input type="text" name="amount[]"
               placeholder="Amount"
               value="{{ product.amount }}"/>

        <input type="text" name="name[]"
               placeholder="Name"
               value="{{ product.name }}"/>

        <input type="text" name="sum[]"
               placeholder="Name"
               value="{{ product.sum }}"/>

        <input type="text" name="mappei_sum[]"
               placeholder="Mappei Summe"
               value="{{ product.mappei[0].prices[0].price_low }}"/>
        <br/>


    {% endfor %}

    <input
            type="text"
            name="erp[]"
            placeholder="ERP Nr"
            required="required"
    />

    <input
            type="text"
            name="amount[]"
            placeholder="Amount"
            required="required"
    />
    <br/>
    <button type="submit">Submit</button>
</form>
