@font-face {
    font-family: 'DancingScript';
    src: url('https://assets.classei.de/fonts/DancingScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('https://assets.classei.de/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}