$font-family: "Roboto", Arial, sans-serif;
$font-family-bold: "Roboto Bold", Arial, sans-serif;
$font-size: 16px;
$color: #000000;
$primary-color: #ff9933;

html, body {
  background-color: #f3f3f3;
  font-family: $font-family;
  font-size: $font-size;

  .section {
    background-color: #ffffff
  }

  .view_online {
    a{
      text-decoration: None;
      font-size: $font-size *0.8;
      color: $color;
    }
    .view_online_link{

      font-family: "Roboto Thin", Arial, sans-serif;
      color: #000000;
      text-decoration: None;
    }
  }

  .nav_items_shop{
    background-color: $primary-color;
    padding: 10px 0;
    .menu-item {
      padding: 0 10px !important;
      font-family: $font-family-bold !important;
      color: #ffffff !important;
      font-weight:700 !important;
    }
  }
}
