<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/gc_styles_compound.css') }}">
    {% endblock %}

</head>
<body>
{% block container %}<div class="container">{% endblock %}

{% block body %}{% endblock %}

{% block end_of_body %}
    {% block javascript %}
    <script src="https://kit.fontawesome.com/42ebd07a81.js" crossorigin="anonymous"></script>
    {% endblock %}
{% endblock %}
</div>

</body>

</html>